@import "tailwindcss";

.swiper-pagination-bullet {
  background-color: #0067B1 !important;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
  opacity: 0.3 !important; 
}

.swiper-pagination-bullet-active {
  background-color: #0067B1 !important;
  width: 30px !important;
  height: 10px !important;
  border-radius: 8px !important;
  opacity: 1 !important;

}

.swiper-wrapper {
  margin-bottom: 60px !important; 
}